@model WebPixUIAdmin.Models.PerfilViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Html.DisplayFor(model => model.Nome)</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome) :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descricao) :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DataCriacao) :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DataCriacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateAlteracao) :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateAlteracao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UsuarioCriacao) :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsuarioCriacao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UsuarioEdicao) :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UsuarioEdicao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ativo) :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ativo)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Voltar", "Index")
</p>
